html body{
    width:100;
    height:100;
    margin: 0;
    padding:0; 
    
    

}

.loading-stage{
    background:linear-gradient(0deg, rgba(196, 196, 196, 0) 90.77%, #FFCB05 99.23%);
    width:100;
    height:80vh;
    margin: 0;
    padding:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    display:;       
   
    
}
.poke-logo{
    margin-bottom:1rem;
}
.character-selection{
    background:linear-gradient(0deg, rgba(196, 196, 196, 0) 90.77%, #FFCB05 99.23%);
    padding:0.5rem;
    display:none;
    
    
}
.choose-your-pokemon{
    font-family: acumin-pro-extra-condensed;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    color: #3663AD;
    text-align:center;
    margin-bottom:1rem;
    margin-top:-1.5rem;
}

.pokemon-card-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:3rem;
    padding-top:0; 
   
}
.pokemon-card{
    margin-bottom:1rem;
}

.profile-stage{
    
    width:100;
    height:100vh;
    margin: 0;
    padding:0;
    display:none;
}

.game-start-stage{
    display:flex;
    height:98vh;
    width:100%;
    display:none;
      
    
}
#game-start-1{
    width:50%;
    
   
    
    
}
#game-start-1,#game-start-2, #game-start-3,#game-start-4,#game-start-5,#game-start-6{
    width:50%;
    display:none;
    
}

.round-one{
    position:fixed;
    top:0;
    z-index:10;
    width:100%;
    display:none;
   
    
}
.round-two,.round-three,.round-four,.round-five{
    position:fixed;
    top:0;
    z-index:10;
    width:100%;
    display:none;
}

.health-bar-container{
    top:10%;
    left:45%;
    position:fixed;
    z-index:30;
}
.health-bar1,.health-bar2,.health-bar3,.health-bar4,.health-bar5,.health-bar6{
    display:none;
}



.next,.next3,.next4,.next5,.next6{
    display:none;
    position:fixed;
    bottom:0;
    left:50%;

    
    
}

.win-lose1,.win-lose2,.win-lose3,.win-lose4,.win-lose5,.win-lose6{
    position:fixed;
    top:0;
    z-index:-10;
    width:100%;
    display:none;
}



